*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #eaf1f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: monospace;
    margin-bottom: 20px;
    font-size: 50px;
}
.container{
    background-color: #1f2937;
    height: 550px;
    width: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
}
.display-container{
    width: 100%;
    padding: 10px 20px;
    height: 130px;
    background-color: #f0f3f7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    color: #1f2937;
    margin-bottom: 20px;
    font-family: monospace;
    word-wrap: break-word;
    overflow: auto;
}
#display-screen{
    width: 100%;
    text-align: right;
    font-size: 40px;
}
#operation-screen{
    width: 100%;
    text-align: right;
    font-size: 22px;
}
.action-buttons button:first-child{
    background-color: rgb(228, 59, 59);
    color: #f0f3f7;
}
.action-buttons button:first-child:hover{
    background-color: rgb(224, 83, 83);
}
.action-buttons button:last-child:hover{
    background-color: #4d73a8;
}
.action-buttons button:last-child{
    background-color: #3e669e;
    color: #f0f3f7;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}
.row button{
    flex: 1 1 0;
    padding: 20px 0;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #f0f3f7;
}
.row button:hover{
    background-color: #e2e6ec;
}
.row button:last-child, #equals{
    background-color: rgb(77, 224, 96);
    font-size: 20px;
    padding: 19px 0;
}
.row button:last-child:hover, #equals:hover{
    background-color: rgb(100, 223, 117);
}

button:hover{
    cursor: pointer;
}
